<div style="margin-top: -50px">

    <div class="row justify-content-md-center text-center ">

        <div class="col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                blabla
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                C#, ASP.Net Core, Java, SQL Server, MySQL
            </p>
            <p class="text-primary cabecera">
                Experiencia:

            </p>
            <ul>
                <li> Web APIS  </li>
                <li> ASP.NET Core MVC  </li>
                <li> Blazor  </li>
                <li> Formularios Java + JDBC  </li>
            </ul>
        </div>

        <div class="col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-file-code-fill"></i>
            <h3> Front-End</h3>
            <p> bla bla</p>
            <p class="text-primary cabecera ">
                Stack:
            </p>
            <p>
                HTML5, CSS3

            </p>
        </div>
    </div>


</div>