
<div class="text-center">
    <h1 class="display-4"> Soy Esteban Beltrán Valencia </h1>   @* usando blazor para un llamado dinamico de datos*@
    <h2> Soy un desarrollador Jr fullstack especializado en .Net </h2>
    <img id="profile" src="~/imagenes/foto.png" alt="foto de esteban" />
</div>
<div class="text-center">
    <img id="imagen-donet" src="~/imagenes/imagennet.png" alt="dotnet logo" />

</div>


<div class="row justify-content-center text-center bg-black">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p>
            Fisico Puro y desarrollador Junior, poseo principalmente conocimientos en C# con frameworks tales como
            Entity, ASP.Net Core, Blazor. En el lado de las Bases de datos  MySQL y SQL Server, los cuales
            he desarrollado en proyectos propios de flujo completo entre back-front 
            y despliegue en la nube de Azure y someramente en AWS,  
            paralelamente he brindado soporte a compañeros desarrolladores freelance.


        </p>
        <p>
            Considero que soy una persona sumamente disciplinada, 
            lo que me hace resaltar por mi responsabilidad con mis quehaceres,
            resalto por mi autonomia lo que me permite tener una rapida respuesta 
            investigativa que aporte significativamente a lo que desarrollo.

            <br> <br><br> <br>
        </p>
    </div>
</div>