
<div class="text-center">
    <h1 class="display-4"> Soy Esteban Beltrán Valencia </h1>   @* usando blazor para un llamado dinamico de datos*@
    <h2> Soy un desarrollador semi-Jr fullstack especializado en .Net </h2>
    <img id="profile" src="~/imagenes/foto.png" alt="foto de esteban" />
</div>
<div class="text-center">
    <img id="imagen-donet" src="~/imagenes/imagennet.png" alt="dotnet logo" />

</div>


<div class="row justify-content-center text-center bg-black">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p>
            Físico y desarrollador en formación, con algunos conocimientos en back-end y front-end ,
            apilados a través de proyectos propios. Busco mi primer empleo para desarrollar mi carrera,
            contribuyendo con mis habilidades en Python, Java, Js, HTML5 Y CSS3.
        </p>
        <p>
            Busco siempre trabajar en equipo, cooperando y fomentando un apoyo mutuo,
            con gran satisfacción en enseñar y aprender.
            <br> <br><br> <br>
        </p>
    </div>
</div>